/**
 ⋮
 ⋮ AngularJS | To-Do App
 ⋮
 */

body {
  background-color: #444349;
  background-image: url(../img/stardust.png);
  background-repeat: repeat;
}

.panel {
  border-radius: 2px;
  background-color: #434a54;
}

.title {
  margin: 20px 0 10px 0;
  font-size: 3rem;
  text-align: center;
}

.todos {
  margin: 10px 0 10px 0;
  color: #fff;
  font-size: 2rem;
  text-align: left;
}

.todos__new {
  border-bottom: 3px solid #ccd1d9;
  margin-bottom: 10px;
}

.button__submit {
  margin: 15px 0px;
}

.todos__remaining {
  border-bottom: 3px solid #ccd1d9;
  margin-bottom: 10px;
  text-align: center;
}

.todos__completed {
  border-bottom: 3px solid #ccd1d9;
  margin-bottom: 10px;
  text-align: center;
}

.todos__remaining--empty,
.todos__completed--empty {
  margin: 10px 0 10px 0;
  display: block;
  font-size: 14px;
}

.todos__header {
  border-bottom: 1px solid #ccd1d9;
  padding-bottom: 1px;
  text-align: center;
}

.todo__list {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  max-height: 150px;
  overflow-y: scroll;
}

.todo--remaining {
  list-style: none;
  cursor: pointer;
  border: 1px solid #ccd1d9;
  border-radius: 2px;
  background-color: #656D78;
  line-height: 30px;
}

.todo--completed {
  list-style: none;
  cursor: pointer;
  border: 1px solid #ccd1d9;
  border-radius: 2px;
  background-color: #656D78;
  text-decoration: line-through;
  line-height: 30px;
}

.todo--remaining:hover {
  text-decoration: line-through;
}

.todo--completed:hover {
  opacity: 0.5;
}

.todo__counter {
  background-color: #CCD1D9;
  color: #000;
  margin-right: 10px;
  width: 35px;
  display: inline-block;
  height: 100%;
  text-align: center;
}

.footer {
  text-align: center;
}

.footer a:hover {
  color: #fff;
}
